In [1]:
import pandas as pd

In [2]:
products = pd.read_csv('../CRM+Sales+Opportunities/products.csv')

In [3]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product      7 non-null      object
 1   series       7 non-null      object
 2   sales_price  7 non-null      int64
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes

In [4]:
products.describe()

        sales_price
count      7.000000
mean    6023.571429
std     9388.428070
min       55.000000
25%      823.000000
50%     3393.000000
75%     5151.500000
max    26768.000000

In [5]:
products.head(3)

      product series  sales_price
0   GTX Basic    GTX          550
1     GTX Pro    GTX         4821
2  MG Special     MG           55

In [6]:
products.tail(3)

          product series  sales_price
4    GTX Plus Pro    GTX         5482
5  GTX Plus Basic    GTX         1096
6         GTK 500    GTK        26768

In [7]:
products.isnull().sum()

product        0
series         0
sales_price    0
dtype: int64

In [9]:
products['series'].unique()

array(['GTX', 'MG', 'GTK'], dtype=object)

In [8]:
products['product'].unique()

array(['GTX Basic', 'GTX Pro', 'MG Special', 'MG Advanced',
       'GTX Plus Pro', 'GTX Plus Basic', 'GTK 500'], dtype=object)

import pandas as pd
 = pd.read_csv('../CRM+Sales+Opportunities/.csv')
.info()
.describe()
.head(3)
.tail(3)
.isnull().sum()
[''].unique()